<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Forgot Password</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {

		if (document.getElementById("errorMessage").textContent=="") {
			document.getElementById("error-div").style.display="none";
		} else {
			document.getElementById("error-div").style.display="block";
		}
		
		if (document.getElementById("message").textContent == "") {
			document.getElementById("message-div").style.display = "none";
		}
	});
</script>


<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

<script type="text/javascript">
function clearError() {
	document.getElementById("errorMessage").textContent="";
	document.getElementById("error-div").style.display="none";
}
</script>

</head>
<body class="text-center">

	<!-- <form id="register-form" autocomplete="off"
		class="form-signin" method="post"> -->
	<form class="form-signin" action="#" th:action="@{/forgot-password}"  th:object="${user}" method="post">
		<h2 class="text-center">Forgot Password?</h2>
		<p>You can request a new password here.</p>
		
		<div id="error-div" class="alert alert-danger">
 			<span id="errorMessage" th:text="${errorMessage}"></span>		
		</div>
		
		<div id="message-div" class="alert alert-success">
 			<span id="message" th:text="${message}"></span>
 		</div>
		
		<div class="form-group">
			<input
				id="username" name="username" placeholder="Username" class="form-control"
				th:field="*{username}" type="text" required autofocus
				onkeyup="clearError();">
		</div>
		<div class="form-group">
			<input name="recover-submit" class="btn btn-lg btn-primary btn-block"
				value="Request New Password" type="submit">
		</div>

	<br />
	<br />
	<br />
	<br />

<footer th:insert="footer.html"> </footer>
<!-- 
	<input type="hidden" name="${_csrf.parameterName}"
		value="${_csrf.token}" /> -->
		</form>
</body>
</html>
